<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{museum}}</p>
    <p>{{date}}</p>
    <p>{{phone}}</p>
    <p>{{aadhar}}</p>
    <p>{{nationality}}</p>
    <p>{{city}}</p>
    <p>{{state}}</p>
    <p>{{vis1}}</p>
    <p>{{vis2}}</p>
    <p>{{vis3}}</p>
    <p>{{vis4}}</p>
    <p>{{vis5}}</p>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <title>Table Example</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <th colspan="2">Booking Details</th>
    </tr>
    <tr>
      <th>Museum </th>
      <th>{{museum}}</th>
    </tr>
    <tr>
      <td>Date of Visit </td>
      <td>{{date}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{phone}}</td>
    </tr>
    <tr>
      <td>Aadhar</td>
      <td>{{aadhar}}</td>
    </tr>
    <tr>
      <td>Nationality</td>
      <td>{{nationality}}</td>
    </tr>
    <tr>
      <td>City</td>
      <td>{{city}}</td>
    </tr>
    <tr>
      <td>State</td>
      <td>{{state}}</td>
    </tr>
    <tr>
      <td>{{vis1}}</td>
      <td>{{vis1id}}</td>
    </tr>
    <tr>
      <td>{{vis2}}</td>
      <td>{{vis2id}}</td>
    </tr>
    <tr>
      <td>{{vis3}}</td>
      <td>{{vis3id}}</td>
    </tr>
    <tr>
      <td>{{vis4}}</td>
      <td>{{vis4id}}</td>
    </tr>
    <tr>
      <td>{{vis5}}</td>
      <td>{{vis5id}}</td>
    </tr>
    <!-- <tr>
      <td>Row 12, Cell 1</td>
      <td>Row 12, Cell 2</td>
    </tr> -->
  </table>
</body>
</html>
